<div{{ attributes.addClass('paragraph', 'paragraph--type--about-us', 'paragraph--view-mode--default', 'flex') }}>
  <div class="field-title">
    {{ content.field_about_us_title }}
  </div>

  <div class="field-intro">
    {{ content.field_about_us_intro }}
  </div>

  <div class="field-hero-image">
    {{ content.field_about_us_hero_image }}
  </div>

  <div class="field-info-group">
    <div class="info1">
      {{ content.field_about_us_info1 }}
    </div>
    <div class="info2">
      {{ content.field_about_us_info2 }}
    </div>
  </div>
</div>